.jumbotron
  %h1 Liturgical Calendar API

  %p
    %a{href: '/browse'} Browse
    the calendar on-line,
    %br
    %a{href: '/api-doc'} REST API Documentation
    %br
%p
  The API provides access to Roman Catholic liturgical calendar
  according to the norms set forth by the liturgical reform
  after the II Vatican Council.
